<section data-aos='fade-down' id="newsletter" data-navigation-target="newsletter_sec" class="newsletter_aos_trigger bg-gray-100 shadow-inner dark:bg-gray-800">
  <div class="inner-section-default my-12 md:my-20 py-20">

    <div class="max-w-screen-lg space-y-4 text-center mx-auto">
      <h2 data-aos-anchor=".newsletter_aos_trigger" data-aos='zoom-in' class="title"><%= t('views.site.newsletter.title') %></h2>
      <p data-aos-anchor=".newsletter_aos_trigger" data-aos='zoom-in'  data-aos-delay="50" class=" max-w-screen-md mx-auto"><%= t('views.site.newsletter.description') %></p>
    </div>

    <%= render 'app/subscribers/form', app_subscriber: @app_subscriber%>

</div>
</section>
