<%= turbo_stream.update @target do %>
    <option value=""><%= t('activerecord.blank_entries.general.not_informed') %></option>
    <%= options_from_collection_for_select(@negotiations, :id, :period_in_words_and_calendar) %>
<% end %>
