<%= turbo_stream.update @target do %>
    <option value=""><%= t('activerecord.options.general.select.default') %></option>
    <%= options_from_collection_for_select(@negotiations, :id, :period_in_words_and_calendar) %>
<% end %>
