<div class="card" data-aos="fade-in">
  <div class="card-header animate-pulse  ">

    <div class="card-header-info ">
      <p class="card-header-title h-10 animate-pulse w-full bg-gray-200 dark:bg-gray-800 rounded-lg"></p>
    </div>

    <div class='card-header-btn'>
      <%= icon('fa-solid','bars', class:'fa-sm')%>
    </div>

  </div>


</div>
