<div class="grid grid-cols-2 gap-4">
  <div class="">
    <p class=""><%= App::City.human_attribute_name('name')%></p>
    <p class="detail-input"><%= app_city.name %></p>
  </div>

  <div class="">
    <p class=""><%= App::City.human_attribute_name('state')%></p>
    <p class="detail-input"><%= app_city.state %></p>
  </div>
</div>
